/*@-moz-document domain("dlsite.com")*/
@-moz-document url-prefix("https://www.dlsite.com")
{
  :root
  {
    --fg: #c5c8c6;
    --bg: #282a2e;
    --bg-darker: #181a1b;
    --bg-dark: #1d1f21;
    --border: #373b41;
    --blue: #81a2be;
    --red: #cc6666;
    --green: #52c196;
    --purple: #AC7BBA;
    --yellow: #CBCA77;
    --cyan: #4CB3BC;
  }

 /* --- Custom --- */
  .check > p,
  .check > p > span,
  .check > p > span > label{
    border-radius: 25px;
    background: var(--bg-darker) !important;
  }
  
  .coupon_text{
    background:black !important;
    border-color: black !important;
  }
  
  .frame_double_list .clearfix > dt > p > span{
    border-radius: 25px;
    background: var(--bg-darker) !important;
    padding-left: 10px;
  }
  
  .popularity_reviewer.gold{
    color: black !important;
  }
  
  .carousel_right.disable,
  .carousel_left.disable,
  .carousel_right,
  .carousel_left
  {
    background: none !important;
  }
  
  .work_series,
  .recommend_list,
  .more_load,
  .slide_title
  {
    background: var(--bg-darker) !important;
  }
  
  #search_result_img_box,
  #search_result_list
  {
    background: var(--bg) !important;
    border: var(--border) !important;
  }
  
  .footer_floor_nav,
  .floor_list,
  .title_01,
  select,
  select option
  {
    background: var(--bg-dark) !important;
  }
  
  ._version_up > .odd
  {
    background: var(--bg-dark) !important; 
    border: 1px solid var(--border) !important;
  }
  
  ._version_up > .even,
  .light_popover_inner
  {
    background: var(--bg) !important; 
    border: 1px solid var(--border) !important;
  }
  
  .l-eisysGroupHeader.type-dlsite,
  .search_result_img_box_inner.for_pc,
  .search_result_img_box_inner.for_android,
  .search_result_img_box_inner.type_exclusive_01.for_android,
  .swiper-slide,
  #_touch_link,
  #work_touch_only,
  .floorTab-item.type-ebook,
  .floorTab-item.type-com,
  .floorTab-item.type-nijiyome,
  .list_content_text_item,
  .rank1-10,
  .rank11-20,
  .rank21-30
  {
    background: var(--bg-dark) !important;
    border-color: var(--border) !important;
  }
  
  #search_button,
  .globalSearchSelect
  {
    border: 1px solid var(--border);
  }
  
  .btn_trial{
    background: var(--bg-dark) !important;
    color: var(--fg) !important;
  }
  
  .link_cien_box > .body > p,
  .link_cien_box > .body > p > span
  {
    color:white!important;
  }
  
  .floorTab-item.type-doujin.is-active > h1 > a
  {
    background: black !important;
    color: var(--fg) !important;
  }
  
  .floorTab-item.type-doujin.is-active::after
  {
    background: black !important;
  }
  
  .work_edition_linklist_item
  {
    background: var(--bg-dark) !important;
    border-color: var(--border) !important;
  }
  
  .work_edition_linklist_item.current
  {
    border-color: #f57b01 !important;
  }
  
  /* Custom Catergory Tags */
  
  .work_category.type_MDC,.work_category.type_MNG,.work_category.type_SCM,.work_category.type_comic
  {
    background:#636b5c;
	  color: #b0c999 !important;
  }

  .work_category.type_GSH,.work_category.type_ICG,.work_category.type_IN2,.work_category.type_INV,.work_category.type_IST,.work_category.type_magazine
  {
    background:#475969;
    color: #b2c6d9 !important;
	}
       
.work_category.type_ACN,.work_category.type_ADV,.work_category.type_DNV,.work_category.type_ETC,.work_category.type_GAE,.work_category.type_MOV,.work_category.type_PZL,.work_category.type_QIZ,.work_category.type_RPG,.work_category.type_SLN,.work_category.type_STG,.work_category.type_TBL,.work_category.type_TYP,.work_category.type_oneshot,.work_category.type_short
  {
	  background:#645b6b;
    color: #c2b0d1 !important;
  }
  
  .work_category.type_MUS,.work_category.type_SOU
  {
	  background:#473f29;
    color: #c9c0ab !important;
	}

  .work_category.type_AMT,.work_category.type_ET3,.work_category.type_ET4,.work_category.type_IMT,.work_category.type_KSV,.work_category.type_NR2,.work_category.type_NRE,.work_category.type_TOL
  {
	  background:#4f4f4f;
    color: #c4c4c4 !important;
	}
  
  /* --- Generic --- */
  html,
 #container,
 input:hover
  {
    background: var(--bg) !important;
  }

  *,
 span.gray
  {
    color: var(--fg) !important;
  }

  a,
 h1,
 h2,
 h3
  {
    color: var(--blue) !important;
  }

  a:hover
  {
    color: var(--red) !important;
  }

  button,

 /*ul,*/
 /*li,*/
 /*li a,*/
 input,
 thead > tr,
 thead > tr > th
  {
    background: var(--bg-dark) !important;
    border-color: var(--border) !important;
  }

  button:hover,
 li:hover,
 li > a:hover
  {
    background-color: var(--border) !important;
  }

 /* --- Specific --- */
 /* Front page */
  #index2_main,
 .floor_link li
  {
    background-color: var(--bg) !important;
  }

  #index2_header,
 #index2_footer div,
 .on,
 .pc_link a
  {
    background-color: var(--bg-dark) !important;
    color: var(--fg) !important;
    border-color: var(--border) !important;
  }

  .tab_pc,
 .floor_tab,
 .globalSearch
  {
    border-color: var(--border) !important;
  }

 /* Maniax */
  .headerCore-main,
 .floorTab-item,
 .link_genre_top,
 .rank_color td,
 h1#work_name > a,
 .tab a:hover,
 .weekday,
 .ranking_top_worklist_item,
 .tab a,
 #default_tab_160,
 .work_spec_list dd,
 .suggest-head,
 .suggest-more,
 table.border_b,
 .search_condition_box,
 .search_condition,
 .status_select_box,
 .rating_popup > *,
 .rating_popup table th,
 .rating_popup table td,
 .rating_meter,
 .bg_trans,
 .l-content,
 ._cart_item:hover td,
 /*.work_series,*/
 body
  {
    background: var(--bg) !important;
    border-color: var(--border) !important;
  }

  h1,
 /*h2,*/
 h3,
 h4,
 .headerCore,
 .headerCore-main,
 .footer_section,
 #copyright,
 .globalGuide *,
 li.is-active a,
 .floorNavLink div a,
 .floorTab-item.is-active::after,
 .globalSearchSelect-lable,
 .work_push_subheading,
 .push_thumb,
 /*.list_head h4,*/
 .left_module h3,
 .left_module > *,
 .right_module > *,
 /*.work_category,*/
 .search_tag a,
 .more_work_box,
 .type_exclusive,
 .work_genre span,
 .display_filter span,
 .type_sale,
 .slider_controller,
 #work_buy_box_wrapper *,
 .add_follow *,
 #default_tab_120,
 .tab.on a,
 .holiday,
 .saturday,
 .left_month_btn,
 .right_month_btn,
 .day,
 .review_content td,
 .guide_text,
 .announce_text,
 .more_right,
 .ranking_top_worklist_item:nth-child(even) .rank,
 .ranking_header,
 .ranking_footer *,
 .search_condition th,
 .save_search_condition_button,
 .research_button,
 .search_more p,
 #footer_nijiyome_banner,
 .eng_lead_message a,
 .work_operation_btn,
 .work_ncol,
 .review_title,
 .btn_ver_up a,
 #work_buy_box_wrapper,
 .link_dl_ch *,
 .dc_work_group,
 .dc_work_group_header a:hover,
 .work_sample_inner,
 .select,
 .main_modify_box_end,
 .main_modify_box_end *,
 .table_inframe_box,
 .table_inframe_box_inner *,
 .work_request,
 .selectlg_container *,
 .slider_body,
 .slider_popup,
 .slider_popup_mainbox,
 li.__reserved::after,
 .work_spec_list dt,
 #work_win_only,
 .detailedSearch,
 .detailedSearch a,
 ._scroll_position,
 .genre_heading,
 .search_pager,
 .extend_search,
 #search_hint,
 #search_hint *,
 .floorSubNav,
 .headerCore-mainInner,
 #work_protect,
 .globalSearchSelect-lable::before,
 .btn_wrap a,
 .header_guide_btn,
 .selectbox_inner,
 .loading::before,
 .left_module_content,
 .work_thumb,
 .same_work td,
 .matome_content,
 .content_item,
 .review_btn a,
 .matome_btn a,
 .reviewer_recommend,
 /*.l-header,*/
 .footerBox,
 .mainBox-body,
 .contentLoginRegist-item,
 .contentLoginRegist-item p,
 .contentBox,
 .btn,
 .main_liquid_box,
 .main_liquid_box div,
 .headerFloorGuide a,
 .heading,
 #in_right div,
 #in_right dl,
 .icon_lead_01,
 .emoney_text,
 #cart_work_list .item_name th,
 .complete.right_last,
 .btn_default,
.to_search_details a,
.genre_work_push::before,
.genre_work_push::after,
.message_attention,
.sub_title,
.page_no,
.btn_release
  {
    background: var(--bg-dark) !important;
    color: var(--fg) !important;
    border-color: var(--border) !important;
    outline-color: var(--border) !important;
  }


 /* - Header - */
  .headerNav-item > a:hover,
 .floorNavLink-item > a:hover
  {
    background-color: var(--border) !important;
  }

  .globalSearch,
 .detailedSearch,
 .detailedSearch a
  {
    box-shadow: none !important;
  }

  /*.title_01,*/
 .title_01_br,
 .base_title_br,
 .base_title,
 .base_title h1,
 .work_price_wrap::after,
 .refine_work_list,
 #maker_list_header,
 .page_no ul
  {
    background: none !important;
  }

  .push_prev,
 .push_next
  {
    background-color: var(--bg-dark) !important;
  }

  .daynow a,
 .exist a:hover
  {
    background-color: var(--blue) !important;
  }

 /* - Side panels - */
  div.right_module > h3,
 .right_module .icon_text,
 #left .list_sale_ul,
 .right_announce p.announce_text
  {
    background: var(--bg-dark) !important;
  }

  .link_list_item,
.search_condition td
  {
    border-color: var(--border) !important;
  }

 /* - Works - */
  .n_worklist::before,
 .n_worklist_item,
 .work_spec *,
 .work_spec_list *,
 p.track_text,
 .work_tracklist_list,
 .n_worklist td,
 .btn_post::after,
 #price_total
  {
    border-color: var(--border) !important;
  }

  .btn_cart,
 .btn_favorite
  {
    background: var(--bg-dark) !important;
  }

  .btn_post,
 a.btn_post i
  {
    color: var(--blue) !important;
    text-shadow: none !important;
  }

  .purchased
  {
    border-color: var(--red) !important;
  }

 /* Info */
  .work_price,
 .work_price *,
 .type_sale,
 .reviewer_recommend
  {
    color: var(--red) !important;
  }

  .work_point
  {
    color: var(--green) !important;
  }

 /* Categories */
  .type_SOU a,
 .type_free
  {
    color: var(--green) !important;
  }

  .type_SLN a
  {
    color: var(--purple) !important;
  }

  .type_MNG a
  {
    color: var(--yellow) !important;
  }

  .type_RPG a
  {
    color: var(--cyan) !important;
  }

 /* Tags */
  span.icon_R15,
 span.icon_GEN
  {
    color: var(--green) !important;
  }

  span.icon_ADL
  {
    color: var(--red) !important;
  }

  .search_tag a:hover
  {
    background-color: var(--border) !important;
  }

 /* - Ranking - */
  .ranking_top_container *,
 .ranking_option_wrap::before
  {
    border-color: var(--border) !important;
    box-shadow: none;
  }

  .ranking_option_tab_item.selected > a::before
  {
    border-color: var(--blue) !important;
  }

  .genre_push_next::before
  {
    box-shadow: -3px 3px 0 var(--fg) inset;
  }

  .genre_push_prev::before
  {
    box-shadow: 3px -3px 0 var(--fg) inset;
  }
}
